/* clear default browser styling */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title_container {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 6px black;
}

#interface_title {
  font-size: 4em;
  text-align: center;
  color: darkslategray;
  font-weight: bold;
}

.usedCarFilterAndInfo {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: gainsboro;
  height: 100%;
}

.filter_container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100vw / 5);
  background-color: gainsboro;
  height: calc(100vh - 190px);
  padding: 20px;
}

.usedCarInfo {
  width: calc(100vw / 1.2);
  border-left: solid 6px black;
  background-color: darkslategray;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* code source: https://www.w3schools.com/howto/howto_css_product_card.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  background-color: whitesmoke;
  color: black;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.submit_reset {
  display: flex;

  align-content: center;
  justify-content: space-between;
}

.submit_reset button {
  width: 150px;
  height: 30px;
  background-color: darkslategray;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.submit_reset button:hover {
  opacity: 0.7;
}

.usedCarInfo p {
  font-size: 20px;
  line-height: 1.5;
}

.price {
  color: grey;
  font-size: 22px;
}

.filter_container h2 {
  padding-bottom: 5px;
  font-size: 28px;
}

.filter_container h1 {
  text-decoration: underline;
  font-size: 36px;
}

.filter_container label {
  font-size: 18px;
}

#yearFilter input {
  height: 20px;
  margin: 5px;
  width: 125px;
}

#yearFilter label {
  display: inline-block;
  height: 20px;
  margin: 5px;
}

.makeFilterGrid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.priceFilter input {
  height: 20px;
  margin: 5px;
  width: 125px;
}
.priceFilter label {
  display: inline-block;
  height: 20px;
  margin: 5px;
}

.colorFilterGrid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
